n8n_workflows/get-campaigns.json
{
    "name": "Omnia - Get Campaigns Proxy",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "get-campaigns",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "get-campaigns"
        },
        {
            "parameters": {
                "url": "https://api.coupontools.com/v3/coupon/list",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Client-ID",
                            "value": "={{ $json.client_id }}"
                        },
                        {
                            "name": "X-Client-Secret",
                            "value": "={{ $json.client_secret }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "only_active",
                            "value": "={{ $json.only_active || true }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Get Campaigns from CT",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Return Campaigns",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"error\": true, \"message\": \"{{ $json.error_message || 'Error al obtener campañas' }}\" }",
                "options": {
                    "responseCode": "400",
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Return Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                680,
                480
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get Campaigns from CT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Campaigns from CT": {
            "main": [
                [
                    {
                        "node": "Return Campaigns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}