n8n_workflows/rules-manager.json
{
    "name": "Omnia - Rules Manager",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "rules",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "rules"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "get-all",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "getAllRules",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "save-rule",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "saveRule",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "delete-rule",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "deleteRule",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "name": "Route by Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "validation_rules"
                },
                "options": {}
            },
            "name": "Get All Rules",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                680,
                160
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "validation_rules"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ct_campaign_id": "={{ $json.rule.ct_campaign_id }}",
                        "days_allowed": "={{ $json.rule.days_allowed }}",
                        "hours_start": "={{ $json.rule.hours_start }}",
                        "hours_end": "={{ $json.rule.hours_end }}",
                        "min_spend": "={{ $json.rule.min_spend }}",
                        "active": "TRUE"
                    },
                    "matchingColumns": [
                        "ct_campaign_id"
                    ]
                },
                "options": {}
            },
            "name": "Save Rule",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                680,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "validation_rules"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "ct_campaign_id",
                            "lookupValue": "={{ $json.ct_campaign_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Delete Rule",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                680,
                440
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"rules\": {{ JSON.stringify($json) }} }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Return Rules",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                900,
                160
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true }",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Return Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                900,
                370
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Route by Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Action": {
            "main": [
                [
                    {
                        "node": "Get All Rules",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save Rule",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Delete Rule",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get All Rules": {
            "main": [
                [
                    {
                        "node": "Return Rules",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Rule": {
            "main": [
                [
                    {
                        "node": "Return Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete Rule": {
            "main": [
                [
                    {
                        "node": "Return Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}